@page
@using JFS_Task
@using JFS_Task.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using (Html.BeginForm("GetBalances", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>There are no styles applies here. Please upload the files.</p>
        <p>Balances: <input type="file" name="balance" /></p><br>
        <p>Payments: <input type="file" name="payment" /></p><br>
        <p>Account ID: <input type="text" name="accountId" /></p><br>
        <p>Period:
            @Html.DropDownListFor(m => m.ReportPeriod,
            new SelectList(Enum.GetValues(typeof(JFS_Task.Period))))
        </p>
        <p>Returned file format: 
        @Html.DropDownListFor(m => m.Format,
            new SelectList(Enum.GetValues(typeof(JFS_Task.FileFormat))))
        <input type="submit" value="Ok" />
        </p>
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="text-center">
        <h3>@TempData["Message"]</h3>
    </div>
}

@if (ViewData["Report"] != null && ViewData["Report"] is List<TurnoverBalance> turnoverBalance)
{
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Period</th>
            <th>StartingBalance</th>
            <th>Accrued</th>
            <th>Paid</th>
            <th>EndingBalance</th>
        </tr>
        @foreach (TurnoverBalance turnoverBalanceRecord in turnoverBalance)
        {
            <tr>
                <td>@turnoverBalanceRecord.Period</td>
                <td>@turnoverBalanceRecord.StartingBalance</td>
                <td>@turnoverBalanceRecord.Accrued</td>
                <td>@turnoverBalanceRecord.Paid</td>
                <td>@turnoverBalanceRecord.EndingBalance</td>
            </tr>
        }
    </table>
}