@model IEnumerable<JFS_Task.TurnoverBalance>

@{
    ViewData["Title"] = "Turnover balance report";
}

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accrued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accrued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingBalance)
            </td>
        </tr>
}
    </tbody>
</table>
